/**************
 *** BACK FRONT IMAGE
 **************/
.back-front-hover-effect {
	.image-wrapper {
		position: relative;
	}

	.img-back {
		display: none;
	}

	@media (hover: hover) {
		&:hover {
			.img-back {
				display: block;
			}
		}
	}
}

/**************
 *** FILTERS
 **************/
.breadcrumbs-sorting-wrapper {
	.btn-toggle-filters {
		svg {
			transition: transform 0.2s;
		}

		&.active {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

.filters-wrapper {
	display: none;
}

/**************
 *** ERRORS
 **************/
.woocommerce {
	&-error,
	&-info,
	&-message {
		padding: 1em 2em 1em 3.5em;
		margin: 0 0 2em;
		position: relative;
		background-color: $light-gray;
		list-style: none outside;
		border-top: 2px solid transparent;

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 1.3em;
			left: 1.5em;
			width: 16px;
			height: 16px;
			background-image: url(../img/info.svg);
		}

		strong {
			font-weight: 500;
		}
	}

	&-info {
		border-top-color: $wc-info;
	}

	&-message {
		border-top-color: $wc-msg;
	}

	&-error {
		border-top-color: $wc-error;
	}
}

/**************
 *** PRODUCT SLIDER
 **************/
.woocommerce-product-gallery__image {
	pointer-events: none;
}

.woocommerce-product-gallery {
	position: relative;
}

.flex-control-nav {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;

	li {
		width: calc(100% / 3);
		cursor: pointer;

		img {
			width: 100%;
			object-fit: cover;
		}
	}
}

.flex-control-paging,
.custom-dots {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 10px;
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	z-index: 1;

	li {
		a {
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: transparent;
			border: 1px solid $black;
			color: transparent;
			overflow: hidden;
			transition: 0.2s ease-in-out;
		}
	}
}

.flex-control-paging {
	a {
		&.flex-active {
			background: $black;
		}
	}
}

.custom-dots {
	li {
		&.flex-active,
		&:hover {
			a {
				background: $black;
			}
		}
	}
}

/**************
 *** YITH WISHLIST PLUGIN
 **************/
.wishlist_table.mobile li {
	position: relative;
	padding: 20px 0;
	border-bottom: 3px solid $black;

	&:first-child {
		border-top: 3px solid $black;
	}

	.item-wrapper {
		&,
		.item-details {
			width: 100%;
		}

		.item-details table.item-details-table td.label {
			font-weight: 500;
		}

		.product-thumbnail {
			max-width: 100%;
			margin-right: 0;
		}
	}

	table.additional-info td,
	.item-details table.item-details-table td {
		padding: 0;
	}

	.item-details table.item-details-table td.label,
	.item-details table.item-details-table td,
	table.additional-info td {
		font-size: 100%;
	}

	table.additional-info td.label {
		font-weight: 500;
	}

	table.item-details-table,
	table.additional-info {
		width: 100%;
	}

	.product-name {
		text-align: center;
	}

	.product-remove {
		position: absolute;
		left: 0;
		top: 20px;
	}

	.additional-info-wrapper {
		.product-add-to-cart {
			margin-top: 20px;
		}
	}
}

table.wishlist_table {
	font-size: 100%;
	border-collapse: collapse;

	thead {
		th {
			text-align: left;
			border: none;
			text-transform: uppercase;
			font-weight: 400;
			border-bottom: 3px solid $black;

			&.product-thumbnail {
				width: 80px;
				@media (min-width: $breakpoint-medium) {
					width: 200px;
				}
				@media (min-width: $breakpoint-large) {
					width: 300px;
				}
			}
		}
	}

	tbody {
		td {
			text-align: left;
			border-bottom: 3px solid $black;

			&.product-thumbnail {
				a {
					max-width: 100%;
				}
			}

			&.product-remove {
				padding: 16px 12px;
			}

			&.product-add-to-cart {
				text-align: right;
				padding-right: 0;

				a {
					margin: 0 0 0 auto !important;
					@media (min-width: $breakpoint-medium) {
						min-width: 205px;
					}
				}
			}
		}
	}

	a {
		color: $black;
	}
}

#yith-wcwl-popup-message {
	font-weight: 500;
}

/**************
 *** SWATCHES PLUGIN
 **************/
.woo-variation-swatches {
	.variable-items-wrapper {
		gap: 8px;
	}

	.wvs-style-squared.variable-items-wrapper
		.variable-item:not(.radio-variable-item) {
		border-radius: 0;
	}

	&.wvs-show-label .variations td .woo-selected-variation-item-name,
	&.wvs-show-label .variations th .woo-selected-variation-item-name {
		font-weight: 400;
	}

	.variable-items-wrapper .variable-item:not(.radio-variable-item) {
		padding: 0;
		margin: 0;

		&.selected,
		&:hover {
			box-shadow: 0 0 0 3px $black;
		}

		&.color-variable-item.selected:not(.no-stock),
		&.image-variable-item.selected:not(.no-stock) {
			.variable-item-contents:before {
				display: none;
			}
		}

		&.disabled .variable-item-contents:before {
			display: none;
		}
	}
}

/*------------------------------------*\
  AJAX SIDECART PLUGIN
\*------------------------------------*/
.xoo-wsc-container {
	.xoo-wsc-header {
		padding-top: 40px;

		.xoo-wsch-top {
			justify-content: space-between;
			align-items: center;
		}

		.xoo-wsch-text {
			font-size: $base-h3-font-size;
		}

		span.xoo-wsch-close {
			position: static;

			&::before {
				content: "";
				display: block;
				width: 25px;
				height: 25px;
				background-image: url($close-icon);
				background-size: 25px 25px;
			}
		}
	}

	.xoo-wsc-product {
		border-radius: 0;
		border: none;

		.xoo-wsc-img-col {
			img {
				width: 120px;
				height: 120px;
			}
		}

		span.xoo-wsc-pname {
			&,
			a {
				font-weight: 400;
			}
		}

		.xoo-wsc-pprice {
			font-weight: 300;
		}

		.xoo-wsc-icon-trash {
			&::before {
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				background-image: url($close-icon);
				background-size: 16px 16px;
			}
		}

		dl.variation,
		dl.variation p {
			font-size: $global-font-size;
		}

		dl.variation,
		dl.variation {
			dd,
			dt {
				font-weight: 300;
				font-style: normal;
			}
		}

		.xoo-wsc-chng {
			font-weight: 400;
		}

		input[type="number"].xoo-wsc-qty,
		.xoo-wsc-qtb-square {
			border: none;
		}

		input[type="number"].xoo-wsc-qty {
			font-family: inherit;
			font-size: $global-font-size;
		}
	}

	.xoo-wsc-footer {
		.xoo-wsc-ft-totals {
			padding: 25px 0;
			border-top: 3px solid $black;
		}

		.xoo-wsc-ft-amt-total {
			padding: 25px 5px;
			border-top: 3px solid $black;
			border-bottom: 3px solid $black;
			margin-top: 25px;
		}

		.xoo-wsc-ft-amt-subtotal {
			margin-bottom: 10px;
		}

		.xoo-wsc-ft-amt-label {
			font-weight: normal;
			text-transform: uppercase;
		}

		.xoo-wsc-ft-buttons-cont {
			justify-content: flex-end;
			text-transform: uppercase;
			grid-row-gap: 15px;
		}

		.xoo-wsc-ft-btn-cart {
			color: $black;
			background: transparent;
			border-color: $black;

			&:hover {
				color: $white;
				background: $black;
			}
		}

		.xoo-wsc-btn {
			width: 175px;
			white-space: nowrap;
		}

		.xoo-wsc-ft-amt.less {
			//color: $black;
		}
	}
}

/**************
 *** OTHER
 **************/
.product-gallery-col {
	max-width: 700px;
}

.entry-summary {
	@media (min-width: $breakpoint-medium) {
		padding-left: 70px;
	}
}

.product_meta a {
	color: $black;

	&:hover {
		color: $gray;
	}
}

.variations .uk-select {
	width: auto;
	min-width: 240px;
}

.added_to_cart.wc-forward {
	margin-left: 16px;
}

.quantity {
	&-wrapper {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	[type="number"] {
		width: max-content;
		width: 45px;
		line-height: normal;
		padding: 0;
		border: none;
		text-align: center;
	}
}

.contact-wishlist-wrapper {
	gap: 16px;
}

.woocommerce-ordering {
	.orderby {
		border: none;
		font-size: $base-h5-font-size;
	}
}

.onsale,
.shop-online {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 14px;
	padding: 6px 16px;
	border-radius: 20px;
	z-index: 1;
	text-align: center;
	color: $white;
	background: $black;
}

.onsale {
	width: 65px;
}

.uk-button-default:disabled,
.uk-button.disabled,
button.disabled,
.loading {
	pointer-events: none;
}

.loading {
	position: relative;
	padding-right: 35px;
	//opacity: 0.3;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 8px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		box-sizing: border-box;
		border: 4px solid $white;
		border-top-color: $black;
		animation: loading 2s linear infinite;
	}

	&::after {
		display: none;
	}
}

@keyframes loading {
	0% {
		transform: translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateY(-50%) rotate(360deg);
	}
}

.cart_totals {
	table {
		border-top: 3px solid $black;
		border-bottom: 3px solid $black;
	}

	.order-total {
		border-top: 3px solid $black;
	}

	th {
		padding-left: 0;
	}
}

span.select2-container--default {
	.select2-selection--single {
		border: none;
		border-radius: 0;
		height: 44px;

		.select2-selection__arrow {
			top: 50%;
			transform: translateY(-50%);
			width: 13px;
			height: 10px;
			background-image: url($chevron-down);
			background-position: center;

			b {
				display: none;
			}
		}

		.select2-selection__rendered {
			padding: 0;
			line-height: 44px;
			color: $black;
			border-bottom: 3px solid $black;
		}
	}
}

.woocommerce-cart-form {
	table.cart {
		text-align: center;

		tr {
			position: relative;

			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}

		/*th,
		td {
			border-bottom: 3px solid $black;
		}*/

		.product {
			&-thumbnail {
				width: 270px;
			}

			&-name {
				@media (min-width: $breakpoint-medium) {
					text-align: left;
				}
			}
		}
	}

	.coupon-wrapper {
		display: flex;
		flex-direction: column;
		@media (min-width: $breakpoint-medium) {
			flex-direction: row;
			justify-content: space-between;
		}

		.coupon {
			display: flex;
			flex-direction: column;
			gap: 15px;

			@media (min-width: $breakpoint-small) {
				flex-direction: row;
			}
		}

		@include placeholder() {
			color: $black;
		}

		.uk-input {
			width: 100%;
			flex-grow: 1;
			min-width: 350px;
		}

		button {
			@media (max-width: $breakpoint-xsmall-max) {
				flex-shrink: 0;
				width: 100%;
			}
		}
	}
}

.shop_table {
	th,
	td {
		border-bottom: 3px solid $black;
	}
}

/**************
 *** RESPONSIVE SHOP TABLE
 **************/
@media (max-width: $breakpoint-small-max) {
	.woocommerce-cart-form table.cart {
		tbody {
			/*no coupon*/
			tr:not(:last-child) {
				display: block;
				padding: 20px 0;

				&:first-child {
					border-top: 3px solid $black;
				}

				&:not(:last-child) {
					border-bottom: 3px solid $black;
				}

				th,
				td {
					border-bottom: none;
				}

				td {
					display: block;
					padding: 6px 0;
					text-align: right;

					&::before {
						content: attr(data-title) ": ";
						font-weight: 500;
						float: left;
					}

					&.product-thumbnail,
					&.product-remove {
						&::before {
							display: none;
						}
					}

					&.product-thumbnail {
						text-align: center;
						width: 100%;
					}

					&.product-remove {
						position: absolute;
						top: 20px;
						left: 0;
					}
				}
			}
		}

		.quantity-wrapper {
			justify-content: flex-end;
		}
	}
}

/*------------------------------------*\
    PAGINATION
\*------------------------------------*/
.woocommerce-pagination {
	.page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.page-numbers:not(.prev):not(.next):not(.current):not(.dots) {
		color: $black;
	}

	.current {
		color: $gray;
	}

	.page-numbers:not(.prev):not(.next):not(.dots) {
		transition: color 0.2s;

		&:hover {
			color: $global-link-hover-color;
		}
	}
}

/*------------------------------------*\
    BREADCRUMBS
\*------------------------------------*/
.woocommerce-breadcrumb {
	a + span {
		font-weight: 500;
	}
}
