.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 111;
	height: 70px;
	transition: all 0.1s;
	@media (min-width: $breakpoint-small) {
		height: 100px;
	}
	@media (min-width: $breakpoint-large) {
		height: 160px;
	}

	/**************
 	*** COMMON ***
 	**************/
	.menu-right {
		gap: 1px;
		@media (min-width: $breakpoint-medium) {
			gap: 1px;
		}
	}

	.search-form,
	.close-search-form {
		display: none;
	}

	.search {
		&-form {
			width: 814px;
		}
	}

	&.header-sticky {
		//position: sticky;
		background: $white;

		& ~ .content-area {
			margin-top: 70px;
			@media (min-width: $breakpoint-small) {
				margin-top: 100px;
			}
			@media (min-width: $breakpoint-large) {
				margin-top: 160px;
			}
		}
	}

	&.header-white:not(.header-open):not(.header-search-form-open) {
		/*DESKTOP ONLY*/
		.main-menu {
			> li {
				&:not(.contract-division) {
					> a {
						color: $white;
					}
				}

				&.contract-division {
					> a {
						color: $black;
					}
				}
			}

			li:not(.contract-division) {
				a:not([aria-expanded="true"]) {
					&::before {
						background: $white;
					}

					&:hover {
						text-shadow: 0 0 1px $white, 0 0 1px $white;
					}
				}
			}

			.contract-division {
				color: $black;
				background: $white;
			}
		}

		/*COMMON*/
		svg {
			fill: $white;
			//background: red;
		}

		/*MOBILE*/
		.open-mobile-menu svg {
			stroke: $white;
		}

		.langs {
			a {
				color: $white;

				&::before {
					background: $white;
				}
			}
		}
	}

	&.header-open {
		/*DESKTOP ONLY*/
		.main-menu {
			.contract-division {
				> a {
					color: $white;
					background: $black;

					&:before {
						display: none;
					}
				}
			}
		}
	}

	&.header-search-form-open {
		background: $white;

		svg {
			fill: $black;
		}

		.close-search-form {
			display: block;
		}

		.menu-right {
			> *:not(.close-search-form) {
				display: none;
			}
		}
	}

	&.header-on-scroll {
		//height: 100px;
		background: $white;
		@media (min-width: $breakpoint-large) {
			height: 100px;
		}

		/*DESKTOP ONLY*/
		.desktop-navbar {
			//padding: 10px 0;

			.main-menu {
				.contract-division {
					background: $black;

					> a {
						color: $white;
					}
				}
			}
		}
	}

	/**************
 	*** DESKTOP ***
 	**************/
	.desktop-navbar {
		//padding: 20px 0;
		transition: padding 0.1s;
		//padding: 40px 0;

		.uk-navbar-dropdown-nav {
			gap: 40px;
			text-transform: uppercase;
		}

		.logo,
		.menu-right {
			position: relative;
			z-index: 981;
		}

		.logo {
			svg {
				@media (min-width: $breakpoint-large) and (max-width: $breakpoint-large-max) {
					width: 130px;
					height: 58px;
				}
			}
		}

		.main-menu {
			a {
				display: inline-flex;
				font-weight: 300;
				color: $black;
				@media (min-width: $breakpoint-large) and (max-width: 1399px) {
					font-size: 15px;
				}
				@media (min-width: 1400px) and (max-width: $breakpoint-large-max) {
					//font-size: 18px; //19px
				}
			}

			.sub-menu a {
				&:hover {
					text-shadow: $text-shadow-light-hover;
				}
			}

			> li {
				&.contract-division {
					> a {
						padding: 0 12.5px;
						color: $white;
					}
				}

				&:not(.contract-division) {
					> a {
						@include line-animation();

						&[aria-expanded="true"] {
							text-shadow: $text-shadow-hover;

							&::before {
								transform-origin: 0% 50%;
								transform: scale3d(1, 1, 1);
							}
						}
					}
				}

				&:nth-child(4) {
					.uk-navbar-dropdown {
						> .sub-menu {
							li:first-child {
								grid-column: 1/-1;
							}
						}
					}
				}
			}
		}

		.css-grid {
			.uk-navbar-dropdown {
				> .sub-menu {
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					justify-content: space-between;
					gap: 25px 40px;
				}
			}

			&.shop-sub-menu {
				.uk-navbar-dropdown {
					> .sub-menu > li > a {
						font-weight: 400;
					}
				}
			}

			&.brands-sub-menu {
				.uk-navbar-dropdown {
					> .sub-menu {
						grid-template-columns: repeat(4, 1fr);
						gap: 10px;
					}
				}
			}
		}
	}

	/**************
 	*** MOBILE ***
 	**************/
	.mobile-navbar {
		padding: 10px 0;

		.logo {
			svg {
				@media (max-width: $breakpoint-xsmall-max) {
					width: 133px;
					height: 60px;
				}
			}
		}
	}
}
