/**************
 *** COMMON STYLES ***
 **************/
.modal-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background: rgba(255, 255, 255, 0.85);
	background: $white;

	.top-wrapper {
		position: sticky;
		top: 0;
		//padding: 10px 0;
		height: 70px;
		z-index: 1;
		background: $white;
		@media (min-width: $breakpoint-small) {
			height: 100px;
		}

		.logo {
			svg {
				@media (max-width: $breakpoint-xsmall-max) {
					width: 133px;
					height: 60px;
				}
			}
		}

		.close-search-form {
			display: none;
		}
	}

	.uk-modal-dialog {
		background: transparent;

		> div {
			padding-top: 20px;
		}
	}

	.accordion-wrapper {
		.accordion {
			display: flex;
			flex-direction: column;
			padding-bottom: 160px;
			margin: 0;

			> li {
				> a {
					font-size: 22px; //25px
					//font-size: 40px;
					@media (min-width: $breakpoint-small) {
						//	font-size: 50px;
					}
				}
			}

			&.open {
				//padding-bottom: 100px;
			}
		}

		ul {
			list-style: none;
			padding: 0;

			&.sub-menu {
				display: none;
				margin: 20px 0;
			}
		}

		li {
			&.contract-division {
				background: transparent;
			}

			&.open {
				> a {
					text-shadow: $text-shadow-hover;
					border-bottom: 3px solid $black;
				}
			}
		}

		a {
			color: $black;
			font-size: 18px; //20px
			font-weight: 300;
			text-transform: uppercase;
			@media (min-width: $breakpoint-small) {
				//font-size: 25px;
			}
		}
	}

	.search-form {
		display: none;
		margin-top: 100px;

		@include placeholder() {
			color: $black;
		}
	}

	.bottom-wrapper {
		position: fixed;
		bottom: 40px;
		left: 0;
		width: 100%;
		z-index: 1;
		padding-top: 10px;
		background: $white;

		.socials,
		[class*="uk-modal-close-"] {
			position: static;
		}

		[class*="uk-modal-close-"] {
			padding: 0;
		}

		.langs {
			margin-bottom: 40px;
		}
	}
}
