*,
*::before,
*::after {
	box-sizing: border-box;
}

textarea {
	resize: none;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

[type="number"] {
	-moz-appearance: textfield;
}

button {
	font-size: 100%;
	font-family: inherit;
	color: currentColor;
}

a {
	&:hover {
		text-decoration: none;
	}
}

label {
	cursor: pointer;
}

strong {
	font-weight: 400;
}
