.list-base,
%list-base {
	list-style: none;
	padding: 0;
	margin: 0;
}

.text-white-gray-hover,
%text-white-gray-hover {
	color: $white;
	transition: color 0.3s;

	&:hover {
		color: $gray;
	}
}

.btn-base {
	cursor: pointer;
	background: transparent;
	padding: 0;
	border: none;
}

.list-base {
	list-style: none;
	padding: 0;
	margin: 0;
}

.divider-circle {
	margin: 0 6px;
}

.font-weight-100 {
	font-weight: 100;
}

.font-weight-500 {
	font-weight: 500;
}

.invisible {
	opacity: 0;
	visibility: hidden;
}

.object-fit-cover {
	object-fit: cover;
}

.color-inherit {
	color: inherit;
}

.text-right\@m {
	@media (min-width: $breakpoint-medium) {
		text-align: right;
	}
}

.pr-remove-horizontal\@l {
	@media (min-width: $breakpoint-large) {
		padding-right: 0;
	}
}

[src$=".jpg"][loading="lazy"],
.bg-lazy,
iframe {
	background-color: $gray;
}

.remove-margin-from-last-el {
	*:last-child {
		margin-bottom: 0;
	}
}

.max-width-620 {
	max-width: 620px;
}

.max-width-740 {
	max-width: 740px;
}

.max-width-1600 {
	max-width: 1600px;
}

.flex-grow-1 {
	flex-grow: 1;
}

.no-text-shadow {
	&,
	&:hover {
		text-shadow: none;
	}
}

.plr-uikit-grid {
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width: $breakpoint-small) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@media (min-width: $breakpoint-medium) {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.left-uikit-grid {
	left: 15px;
	@media (min-width: $breakpoint-small) {
		left: 30px;
	}
	@media (min-width: $breakpoint-medium) {
		left: 40px;
	}
}

.right-uikit-grid {
	right: 15px;
	@media (min-width: $breakpoint-small) {
		right: 30px;
	}
	@media (min-width: $breakpoint-medium) {
		right: 40px;
	}
}
