$black: #000;
$white: #fff;
$gray: #c0c0c0;
$light-gray: #f8f8f8;
$dark-gray: #45494e;
$bg-gray: #f1f1f1;

$theme-color: $white;

$red: #d9534f;
$green: #5cb85c;
$blue: #428bca;
$text-shadow-light-hover: 0 0 0.5px $black, 0 0 0.5px $black;
$text-shadow-hover: 0 0 1px $black, 0 0 1px $black;
$chevron-down: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTYuMTggOS41MzguNjguMzJoMS42NWw0LjI5IDcuMDRMMTAuOTMyLjMyaDEuNjA2TDYuOTk0IDkuNTM4SDYuMThaIi8+PC9zdmc+";
$chevron-up: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMy4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMyAxMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTMgMTA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik03LDAuM2w1LjUsOS4yaC0xLjZsLTQuMy03bC00LjMsN0gwLjdsNS41LTkuMkg3eiIvPg0KPC9zdmc+DQo=";
$close-icon: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi41IDE0Ljk1MjFMMi40NTIxNCAyNUw4LjUwNzYzZS0wNyAyMi41NDc5TDEwLjA0NzkgMTIuNUwwIDIuNDUyMTRMMi40NTIxNCA5LjQ1Mjk3ZS0wOEwxMi41IDEwLjA0NzlMMjIuNTQ3OSAwTDI1IDIuNDUyMTRMMTQuOTUyMSAxMi41TDI1IDIyLjU0NzlMMjIuNTQ3OSAyNUwxMi41IDE0Ljk1MjFaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K";
$minus-icon: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIzIiB2aWV3Qm94PSIwIDAgOSAzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC40NTIgMi43ODZWMC45ODJIOC42MzZWMi43ODZIMC40NTJaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K";
$plus-icon: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNTg4IDEwLjY2OFYwLjE5Nkg2LjM5MlYxMC42NjhINC41ODhaTTAuNDUyIDYuMjY4VjQuNTk2SDEwLjUyOFY2LjI2OEgwLjQ1MloiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=";

/*** UIkit Overrides ***/
$base-selection-background: $black;
$base-selection-color: $white;
$global-color: $black;
$global-font-family: $sans-serif;
$base-em-color: $global-color;
$global-link-color: $gray;
$global-link-hover-color: darken($global-link-color, 10%);
$base-heading-color: $black;

$global-font-size: 20px;
$global-line-height: 1.5;
$global-small-font-size: 18px;
$base-h1-font-size: 32px;
$base-h2-font-size: 22px;

$base-h1-font-size-m: 42px;
$base-h2-font-size-m: 32px;
$base-h3-font-size: 25px;
$container-small-max-width: 840px;
$container-xlarge-max-width: 1920px;

$button-default-color: $black;
$button-default-hover-background: $black;
$button-default-hover-color: $white;
$button-default-active-background: $black;
$button-default-active-color: $white;

$accordion-title-font-size: $global-font-size;
$accordion-item-margin-top: 10px;
$accordion-content-margin-top: 0;

//$navbar-color-mode: none !default;
//$navbar-nav-gap: 0px !default;
$navbar-nav-item-height: 0;
//$navbar-nav-item-padding-horizontal: 12.5px;
$navbar-nav-item-padding-horizontal: 0;
$navbar-nav-item-color: $black;
$navbar-nav-item-font-size: 20px;
$navbar-dropdown-nav-item-color: $black;
//$navbar-nav-item-hover-color: $global-color !default;
//$navbar-nav-item-onclick-color: $global-emphasis-color !default;
//$navbar-nav-item-active-color: $global-emphasis-color !default;

$subnav-margin-horizontal: 30px;
$subnav-pill-item-padding-vertical: 2px;
$subnav-pill-item-padding-horizontal: 2px;
$subnav-pill-item-color: #b7b7b7;
$subnav-pill-item-hover-background: transparent;
$subnav-pill-item-hover-color: $black;
$subnav-pill-item-active-background: transparent;
$subnav-pill-item-active-color: $black;

$global-font-size-mob: 18px;
